.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 413px;
  object-fit: cover;
  display: block;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 0;
}

.card__title {
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

.card__like-button {
  background-image: url(../images/like-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  opacity: 0.4;
}

.card__like-button:hover {
  color: #212121;
  opacity: 1;
  cursor: url('../images/cursor-pointer.svg'), auto;
}

@media screen and (max-width: 627px) {
  .card__img {
    height: 288px;
  }
}