.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.card__img {
  width: 100%;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 90%;
}

.card__like-button {
  background-image: url(../images/like-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  opacity: 0.4;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_liked {
  background-image: url(../images/like-active.svg);
  opacity: 1;
}

.card__like-button_liked:hover {
  background-image: url(../images/like-hover.svg);
}

.card__delete-button{
  background-image: url(../images/delete-default.svg);
  width: 32px;
  height: 32px;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
}

.card__delete-button:hover {
  background-image: url(../images/delete-hover.svg);
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__img {
    height: 288px;
  }

  .card__title{
    font-size: 16px;
    line-height: 100%;
  }
}