.footer {
  background-color: #FCF5E5;
  max-width: 1440px;
  text-align: center;
  margin: 0 auto;
  padding: 40px;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  /* font-family: "Poppins", sans-serif; */
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}