.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.modal__form{
  width: 100%;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal__container{
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
  background-color: #ffffff;
  padding: 32px 50px;
  border-radius: 8px;
  width: 95%;
  max-width: 730px;
  box-sizing: border-box;
}

.modal__image{
  width: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__close-button{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 30px;
  right: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url(../images/Close-btn.svg);
  opacity: 0.4;
  padding: 0;
  transition: opacity 0.3s ease;
}

.modal__close-button:hover{
  opacity: 1;
}

.modal__title{
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: #212121;
}

.modal__label{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: rgb(33, 33, 33, 1);
}

.modal__input{
  width: 100%;
  padding: 16px 12px;
  cursor: pointer;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #212121;
  border-radius: 8px;
  border: 1px solid #21212166;
  box-sizing: border-box;
  transition: border 0.3s ease;
}

.modal__input::placeholder {
  opacity: 0.3;
}

.modal__input:hover{
  border: 1px solid #212121;
}

.modal__submit-button{
  width: 156px;
  padding: 18px 0;
  cursor: pointer;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  background-color: #212121;
  color: #FCF5E5;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s ease, opacity 0.3s ease;

}

.modal__submit-button:hover{
  opacity: 0.8;
}

.modal__container_type_preview{
  display: inline-block;
  position: relative;
  padding: 0;
  background-color: transparent;
  width: fit-content;
  height: auto;
}

.modal__close_type_preview{
  position: absolute;
  padding: 0;
  border: none;
  background-image: url(../images/Close-Icon.svg);
  background-color: transparent;
  height: 40px;
  width: 40px;
  top: 0;
  right: -52.5px;
  opacity: 1;
}

.modal__caption{
  margin: 8px 0 0;
  padding: 4px 8px;
  border-radius: 8px;
  position: absolute;
  background-color: #212121;
  color: #FFF;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}



@media (max-width: 627px) {
  .modal__container{
    width: fit-content;
    padding: 12px;
  }

  .modal__title{
    margin: 0 0 24px;
    font-size: 20px;
  }

  .modal__close-button{
    top: 12px;
    right: 12px;
  }

  .modal__label{
    margin-bottom: 24px;
  }

  .modal__input{
    font-size: 16px;
  }

  .modal__submit-button{
    width: 100%; /* Make the button take the full width of the container */
  }

  .modal__close_type_preview{
    top: -48px;
    right: 0;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__image {
    border-radius: 4px;
  }
}

