.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  margin-right: 20px;
  width: 190px;
  height: 190px;
  border-radius: 5%;
}

.profile__column {
  display: flex;
  flex-direction: column;
  height: 190px;
  margin-left: 0;
  padding: 0;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  /* font-family: "Poppins", sans-serif; */
}

.profile__description {
  margin: 0;
  font-size: 16px;
  /* font-family: "Poppins", sans-serif; */
}

.profile__edit-button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-top: auto;
  font-size: 16px;
  align-self: flex-start;
  color: rgba(33, 33, 33, 0.7);
  /* font-family: "Poppins", sans-serif; */
  font-weight: 500;
  line-height: 100%;
  cursor: pointer;
}

.profile__edit-button:hover {
  color: #212121;
  opacity: 1;
  cursor: url('../images/cursor-pointer.svg'), auto;
}

.profile__edit-button-icon {
  opacity: 0.7;
}

.profile__new-post-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #212121;
  color: #fff;
  width: 149px;
  border-radius: 8px;
  margin: 0;
  align-self: flex-end;
  font-size: 16px;
  margin-left: auto;
  padding: 15px 0;
  /* font-family: "Poppins", sans-serif; */
  font-weight: 500;
  line-height: 100%;
  gap: 8px;
  cursor: pointer;
}

.profile__new-post-button:hover {
  background: #212121CC;
  cursor: url('../images/cursor-pointer.svg'), auto;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    padding: 20px 0;
  }

  .profile__avatar {
    margin: 0 auto;
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
  }

  .profile__column {
    margin: 0 auto;
    text-align: center;
    padding: 0 0 20px;
  }

  .profile__edit-button {
    margin: auto auto 0;
  }

  .profile__new-post-button {
    margin: 0 auto;
    width: 100%;
  }
}
