.profile {
  display: flex;
  padding: 34px 0 20px;
}

.profile__avatar {
  margin-right: 20px;
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  padding: 0;
}

.profile__name {
  max-width: 420px;
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__edit-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-top: auto;
  font-size: 16px;
  align-self: flex-start;
  color: #212121;
  opacity: 0.7;
  font-weight: 500;
  line-height: 100%;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__new-post-button {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  background: #212121;
  color: #FCF5E5;
  width: 149px;
  border-radius: 8px;
  margin: 0;
  align-self: flex-end;
  font-size: 16px;
  margin-left: auto;
  padding: 15px 0;
  font-weight: 500;
  line-height: 100%;
  gap: 8px;
  cursor: pointer;
}

.profile__new-post-button:hover {
  background: #212121CC;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    padding: 20px 0;
  }

  .profile__avatar {
    margin: 0 auto;
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
  }

  .profile__column {
    margin: 0 auto;
    text-align: center;
    padding: 0 0 20px;
  }

  .profile__name {
    font-size: 20px;
    line-height: 100%;
  }

  .profile__description{
    padding-bottom: 32px;
  }

  .profile__edit-button {
    margin: auto auto 0;
  }

  .profile__new-post-button {
    margin: 0 auto;
    width: 100%;
  }
}
