.page{
  display: flex;
  flex-direction: column;
  background-color: #fcf5e5;
  margin: 0 auto;
  min-height: 100vh;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.page__section{
  max-width: 1280px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}